.contact{
  &__row{
    margin: 100px 250px;
    align-items: center;
  }
  &__form{

  }
  &__title{
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    line-height: 55px;
    margin-bottom: 100px;
  }
  &__card{
    display: block;
    text-align: start;
    label{
      display: block;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.16;
      margin-bottom: 15px;
    }
    input{
      width: 100%;
      outline: none ;
      text-align: left;
      height: 80px;
      font-family: Raleway,sans-serif;
      font-size: 16px;
      font-weight: 200;
      line-height: 19px;
      padding-left: 13px;
      border: 0.1px solid lightgrey;
      margin: 20px 0 40px;
      border-radius: 10px;
    }
    input:hover{
      border: 2px solid black;
    }
    textarea{
      width: 100%;
      outline: none ;
      text-align: left;
      font-family: Raleway,sans-serif;
      font-size: 16px;
      font-weight: 200;
      line-height: 19px;
      padding: 20px 0 0 13px;
      border: 0.1px solid lightgrey;
      margin: 20px 0 40px;
      border-radius: 10px;
      resize: none;
    }
    textarea:hover{
      border: 2px solid black;
    }
  }
}