
  .header {
    width: 100%;
    &__row{
      padding: 56px 50px 56px;
    }
    &__top {
      position: fixed;
      display: flex;
      top: 20px;
      padding: 15px 30px;
      background: white;
      z-index: 10000;
    }
      &__top.scrolled{
        background: white;
        border-radius: 99px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      }
    &__nav{
      display: flex;
      column-gap: 80px;
    }
    &__content{
      display: flex;
      align-items: center;
      text-align: center;
    }
    &__item{
      position: relative;
      float: left;
      a{
        padding: 7px 24px;
        border-radius: 10px;
        align-items: center;
        color: #000;
        display: flex;
        font-size: 14px;
        font-weight: 700;
        justify-content: space-between;
        letter-spacing: .013em;
        transition: .3s;
        border: none;

      }
      a:hover{
        background: #F7CAC9;
      }
    }
    &__ul{
      position: absolute;

      left: 0;
      width: 250px;
      background: white;
      column-gap: 30px;
      display: none;
      border: 1px solid  #e5f4f7;
      border-radius: 10px;
    }
    &__item:hover > ul {
      display: initial;
    }
    &__bottom{
      margin: 20px 200px 10px ;
      align-items: center;
      text-align: center;
      border-radius: 99px;
      background-color: #4E5B73;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__text{
      color: #fff;
      font-size: 14px;
      line-height: 25.2px;
      padding: 24px;
      a{
        color: #fff;
        text-decoration: underline;
      }
    }
    &__form{

    }
    &__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      outline: none;
      align-items: center;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      padding: 0 30px;
      background-color: transparent;
    }
    &__select option:checked {
      background-color: transparent;
    }
    &__lists{
      display: flex;
      align-items: center;
    }
    &__btn{
      background: linear-gradient(45deg, #eb5e8f, #f0707d);
      color: #fff;
      border: none;
      border-radius: 80px;
      display: inline-block;
      font-weight: 700;
      text-align: center;
      transition: .3s;
      white-space: nowrap;
      font-size: 18px;
      letter-spacing: .013em;
      padding: 10px 20px;
      margin-right: 20px;
    }
  }