.help{
  &__row{
    background: #f4e9f6;
    padding: 50px 300px 150px 0;
  }
  &__title{
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    margin: 135px 0 36px 16.04%;
    text-align: left;
  }
  &__inner{
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    cursor: pointer;
    margin: 35px 0 36px 16.04%;
    display: flex;
    position: relative;
  }
  &__inner:hover{
    border: 1px solid blueviolet;
  }
  &__find{
    width: 100%;
    padding: 20px 20px;
    column-gap: 20px;
    display: flex;
    align-items: start;
    input{
      margin-left: 20px;
      font-weight: 300;
      box-sizing: border-box;
      border: none;
      outline: none;
      max-width: 100%;
      font-size: 18px;
      color: #666;
    }
  }
  &__person{
    background: white;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
  &__person:hover{
    border: 1px solid darkviolet;
    text-decoration: underline darkviolet;
  }
  &__name{
    span{
      margin-right: 10px;
    }
  }
  &__profession{
    span{
      margin-right: 10px;
    }
  }
  &__team{
    position: absolute;
    top: 100%;
    margin-top: 20px;
  }
  .person-details{
    padding: 20px ;
    h2{
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 10px;
    }
  }
  .about{
    background: #fdfdfd;
    &__row{
      padding: 70px 100px;
      justify-content: center;
    }
    &__card{
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      align-items: center;
      text-align: center;
    }
    &__list{
      background: white;
      width: calc(33.33333% - 20px);
      padding: 30px 0 40px;
      margin-bottom: 20px;
      border-radius: 15px;
      box-shadow: 1px 1px 20px -19px;
    }
    &__img{
      width: 100%;
      margin-bottom: 8px;
    }
    &__title{
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      color: #000;
      transition: opacity 0.3s ease
    }
  }
  .contact {
    background: #fdfdfd;
    &__row {
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 100px 0 130px;
    }
    &__title{
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      color: #000000;
      text-align: center;
    }
    &__btn{
      display: inline-flex;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      background: linear-gradient(45deg, #EB5E8F 0%, #F0707D 100%);
      color: #fff;
      border: 1px solid #FF5A7D;
      box-sizing: border-box;
      border-radius: 99px;
      padding: 16px 48px;
      margin: 21px auto 0;
      transition: all 0.3s ease;
      cursor: pointer;
      text-decoration: none;
    }
  }
}